
.todo-list {
	padding-top: 10px;
}
.todo {
	min-height: 130px;
}
.add-todo {
	margin-top: 40px;
}
.btn {
	margin-top: 10px;
	background-color: #b0c4de;
	color: white;
}
.list-todo {
	margin-top: 10px;
}
