<!DOCTYPE html>
<div class="container w-75">
	<div class="center">
		<div class="row">
		  <div>
			<input [(ngModel)]="todo.title"
			  id="input_text"
			  type="text"
			  length="140"
			  class="form-control add-todo"
			  placeholder="add-todo"
			>
			<button (click)="add()" class="btn add-btn">Add</button>
		  </div>
		</div>
	  </div>
	  <hr>
    <div class="todo-list row">
      <div *ngFor="let todo of todos">
         <div class="card list-todo">
            <div class="card-body">
              <span from="name" class="card-title">{{todo.title}}</span>
			  <button (click)="delete(todo.id)" type="button" class="btn float-end">done</button>
          </div>
      </div>
    </div>
</div>
